body {
    overflow-x: hidden;
    color: #7c8081;
    font-size: 14px;
    line-height: 1.75em;
    background-color: #f3f6fa;
}

p {
    font-size: 1.5em;
}

p.small {
    font-size: 1em;
}

a,
a:hover,
a:focus,
a.focus {
    outline: 0;
    color: inherit;
},
a:active,
a.active {
    outline: 0;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.75em;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

#nav {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
    color: inherit;
    background: #fff;
    cursor: default;
    font-size: 1.8em;
    padding: 1em 1.5em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

#nav h2 {
    font-weight: 900;
    margin: 0;
    font-size: 0.8em;
}

#nav ul {
    letter-spacing: 0.075em;
    position: absolute;
    right: 2.5em;
    top: 3.5em;
    text-transform: uppercase;
    font-size: 0.6em;
}

#nav ul li {
    display: inline-block;
    margin-left: 1.5em;
}

#nav ul li > ul {
    display: none;
}

#nav ul li a {
    border: solid 1px transparent;
    color: inherit;
    display: inline-block;
    padding: 0 0.75em;
    text-decoration: none;
}

#nav ul li .button {
    font-size: 1em;
    min-width: 0;
    width: auto;
}

#nav ul li.submenu > a:before {
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
}

#nav ul li.submenu > a:before {
content: '\f107';
margin-right: 0.65em;
}

#nav ul li.active > a, #nav ul li:hover > a {
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: rgba(188, 202, 206, 0.15);
}

#nav ul li.current > a {
	font-weight: 900;
}

#nav.reveal {
    -moz-animation: reveal-header 0.5s;
    -webkit-animation: reveal-header 0.5s;
    -o-animation: reveal-header 0.5s;
    -ms-animation: reveal-header 0.5s;
    animation: reveal-header 0.5s;
}

#nav.fixed-top {
    -moz-animation: none;
    -webkit-animation: none;
    -o-animation: none;
    -ms-animation: none;
    animation: none;
    background: transparent;
    box-shadow: none;
    color: white;
    padding: 2em 2.5em;
    position: absolute;
}

#nav.reveal ul {
    right: 2.5em;
    top: 2em;
}

#nav.fixed-top ul li.active > a, #nav.fixed-top ul li:hover > a {
    border: solid 1px;
}

#masthead {
    background-attachment: scroll, scroll, scroll, fixed;
    background-color: #645862;
    background-image: url("images/light-bl.svg"), url("images/light-br.svg"), url("images/overlay.png"), url("../images/main-background.jpg");
    background-position: bottom left, bottom right, top left, top center;
    background-repeat: no-repeat, no-repeat, repeat, no-repeat;
    background-size: 35em, 35em, auto, cover;
    color: white;
    cursor: default;
    padding: 10em 0;
    text-align: center;
}

#masthead .inner {
    -moz-animation: reveal-inner 1s 0.25s ease-in-out;
    -webkit-animation: reveal-inner 1s 0.25s ease-in-out;
    -o-animation: reveal-inner 1s 0.25s ease-in-out;
    -ms-animation: reveal-inner 1s 0.25s ease-in-out;
    animation: reveal-inner 1s 0.25s ease-in-out;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    background: rgba(52, 27, 43, 0.5);
    color: white;
    display: inline-block;
    opacity: 0;
    padding: 3em;
    text-align: center;
}

#masthead .inner header {
    display: inline-block;
    border-bottom: solid 2px;
    border-top: solid 2px;
    margin: 0 0 2em 0;
    padding: 5px 0 5px 0;
}

#masthead .inner header h1 {
    border-bottom: solid 2px;
    border-top: solid 2px;
    font-size: 3em;
    font-weight: 900;
    letter-spacing: 0.2em;
    line-height: 2em;
    margin: 0;
    padding-left: 0.05em;
    position: relative;
    text-transform: uppercase;
}

#masthead .inner p {
    letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase;
}

#masthead .inner footer {
    margin: 2em 0 0 0;
}

#main {
    background-image: url("images/dark-tl.svg"), url("images/dark-tr.svg"), url("images/dark-bl.svg"), url("images/dark-br.svg");
    background-position: top left, top right, bottom left, bottom right;
    background-repeat: no-repeat;
    background-size: 35em;
    padding: 7em 0;
}

#main > :last-child {
    margin-bottom: 0;
}

#main .sidebar section {
    border-top: solid 1px rgba(124, 128, 129, 0.2);
    margin: 3em 0 0 0;
    padding: 3em 0 0 0;
}

#main .sidebar section:first-child {
    border-top: 0;
    padding-top: 0;
    margin-top: 0;
}

body.index #main {
    padding-top: 5em;
}

header.special {
    margin-bottom: 5em;
    padding-top: 7em;
    position: relative;
    text-align: center;
}

header.special:before, header.special:after {
    border-bottom: solid 1.5px;
    border-top: solid 1.5px;
    content: '';
    height: 7px;
    opacity: 0.1;
    position: absolute;
    top: 1.75em;
    width: 43%;
}

header.special:before {
    left: 0;
}

header.special:after {
    right: 0;
}

header.special h2 {
    margin-bottom: 0;
}

header.special h2 + p {
    margin-bottom: 0;
    padding-top: 1.5em;
}

header.special .icon {
    cursor: default;
    height: 7em;
    left: 0;
    position: absolute;
    text-align: center;
    top: 1em;
    width: 100%;
}

header.special .icon:before {
    font-size: 3.5em;
    opacity: 0.35;
}

	.wrapper {
		margin-bottom: 5em;
		padding: 5em;
	}

		.wrapper.style1 {
			padding: 0;
		}

		.wrapper.style2 {
			background-color: #83d3c9;
			background-image: url("images/light-bl.svg"), url("images/light-br.svg");
			background-position: bottom left, bottom right;
			background-repeat: no-repeat, no-repeat;
			background-size: 25em, 25em;
			color: white;
		}

			.wrapper.style2 .button:hover {
				background: rgba(255, 255, 255, 0.15) !important;
			}

			.wrapper.style2 .button.special {
				background: white;
				border-color: white;
				color: #83d3c9 !important;
			}

				.wrapper.style2 .button.special:hover {
					border-color: inherit !important;
					color: white !important;
				}

		.wrapper.style3 {
			background: white;
			color: inherit;
		}

		.wrapper.style4 {
			background: white;
			color: inherit;
			padding: 4em;
		}


.button {
    background: none;
    border: solid 1px;
    color: inherit;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: 2px;
    min-width: 18em;
    padding: 1.25em 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.button:hover {
    background: rgba(188, 202, 206, 0.15);
    border-color: inherit;
}

.button.special {
    background: #83d3c9;
    border-color: #83d3c9;
    color: white !important;
    line-height: 1.75em;
}

.button.special:hover {
    background: #96dad1 !important;
    border-color: #96dad1 !important;
}

.button.masthead {
    width: 100%;
}

.button.small {
    font-size: 0.7em;
    min-width: 14em;
    padding: 0.5em 0;
}

@-moz-keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }
@-webkit-keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }
@-o-keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }
@-ms-keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }
@keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }

@-moz-keyframes reveal-inner { 0% { opacity: 0; } 100% { opacity: 1; } }
@-webkit-keyframes reveal-inner { 0% { opacity: 0; } 100% { opacity: 1; } }
@-o-keyframes reveal-inner { 0% { opacity: 0; } 100% { opacity: 1; } }
